<!doctype html>
<html ng-app="traceroute">

<head>
  <meta charset="utf-8">
  <title>Network Visualization - Traceroute</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!--<script-->
  <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgSYT0qquQTzCZrnHL_Tkos7m1pSsA92A">-->
  <!--</script>-->
  <!--<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>-->
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->

</head>

<body>
<span id="firstController" ng-controller="TracerouteGraphCtrl">
<span id="secondController" ng-controller="TracerouteGraphPanelCtrl">

<!--<span id="thirdController" ng-controller="TracerouteTableCtrl">-->
  <!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Network Visualization</a>
  </div>
  <!-- /.navbar-header -->


<ul class="nav navbar-brand navbar-top-links navbar-right" tooltip-placement="left" uib-tooltip="Page will auto refresh in interval of 30 minutes." tooltip-append-to-body="true">
Updated at {{lastUpdated}}
            </ul>


  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
          </div>
          <!-- /input-group -->
        </li>

        <!--<li>-->
        <!--<a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Traceroute</a>-->
        <!--</li>-->

        <!--<li>-->
        <!--<a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Traceroute Path</a>-->
        <!--</li>-->

        <!--<li>-->
        <!--<a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Latency</a>-->
        <!--</li>-->

      <li class="active">
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Visualisations<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
          <li>
            <a href="index.html">Traceroute</a>
          </li>
          <li>
            <a href="traceroute_path.html">Traceroute Path</a>
          </li>
                  <li>
            <a href="latency.html">Latency</a>
          </li>
          <li>
            <a href="onewaydelay.html">One Way Delay</a>
          </li>
          <li>
            <a href="bandwidth.html">Bandwidth Test</a>
          </li>
        </ul>
        <!-- /.nav-second-level -->
        </li>


      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
  <!-- End of Navigation -->
<div id="page-wrapper">
  <!--ACTUAL BODY STARTS HERE-->

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Traceroute <small></small>
        <small class="pull-right" tooltip-placement="top" uib-tooltip="Date of Results." tooltip-append-to-body="true">
        <span ng-if="minDate!==undefined">{{minDate}} to </span>
        <span ng-if="maxDate!==undefined">{{maxDate}}</span>
      </small></h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>

  <div class="row">
    <div class="col-lg-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> Traceroute Visualisation
          <div class="pull-right">

          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">


          <div>

            <div id="traceroute_graph_cytoscape"></div>

          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->

    <div class="col-lg-3">
      <div class="panel panel-default">


        <div class="panel-heading">
          <i class="fa fa-gear fa-fw"></i> Graph Panel
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="form-group input-group">


              <input type="text" class="form-control" placeholder="IP Address" ng-model="nodeSearch"
                     ng-keypress="mainGraphSearchNodeKeypress($event,nodeSearch)">
              <span class="input-group-btn">
               <button class="btn btn-default" type="button"
                       ng-click="mainGraphSearchNodeClick(nodeSearch);"><i
                 class="fa fa-search"></i></button>
               </span>



            </div>
          <div class="list-group">
            <h5>Graph Layout
            </h5>
            <a href="" class="list-group-item"
               ng-click="mainGraphLayout_Concentric();">
              <i class="fa fa-wrench fa-fw"></i> Layout: Concentric
            </a>

            <a href="" class="list-group-item"
               ng-click="mainGraphLayout_BreathFirst();">
              <i class="fa fa-wrench fa-fw"></i> Layout: Breath First
            </a>


            <a href="" class="list-group-item" ng-click="mainGraphLayout_Grid();">
              <i class="fa fa-wrench fa-fw"></i> Layout: Grid
            </a>

            <a href="" class="list-group-item" ng-click="mainGraphLayout_Cose();">
              <i class="fa fa-wrench fa-fw"></i> Layout: Cose
            </a>

            <a href="" class="list-group-item" ng-click="mainGraphLayout_Circle();">
              <i class="fa fa-wrench fa-fw"></i> Layout: Circle
            </a>

            <a href="" class="list-group-item" ng-click="mainGraphLayout_Centred();">
              <i class="fa fa-crosshairs fa-fw"></i> Back to Centre
            </a>

          </div>

          <div class="list-group">
            <h5>Traceroute Information
              <small></small>
            </h5>

            <span class="list-group-item">
              <i class="fa fa-asterisk fa-fw"></i> No. of Nodes
              <span class="badge">{{noOfNodes}}</span>
            </span>


             <span class="list-group-item list-group-item-danger" ng-if="noOfAnomalies" tooltip-placement="left" uib-tooltip="Click on the red path to view detailed information." tooltip-append-to-body="true">
              <i class="fa fa-exclamation-triangle fa-fw"></i>  Erroneous RTTs:
                        <div class="pull-right">
                  <span class="badge">{{noOfAnomalies}}</span>
                </div>
            </span>

          </div>



          <div class="list-group" ng-if="selectedPath">
            <h5>
             Selected Traceroute Information
            </h5>

            <span class="list-group-item" tooltip-placement="left" uib-tooltip="{{selectedPath.sourceDNS}}">
              <i class="fa fa-flag-checkered fa-fw"></i>
              Source:

              <div class="pull-right">
            {{selectedPath.source}}
          </div>
            </span>
                     <span class="list-group-item" tooltip-placement="left"
                           uib-tooltip="{{selectedPath.destinationDNS}}">
              <i class="fa fa-flag-o fa-fw"></i>
               Destination: <div class="pull-right"> {{selectedPath.destination}} </div>
            </span>

               <span class="list-group-item">
              <i class="fa fa-clock-o fa-fw"></i>
              Time:<div class="pull-right">{{selectedPath.time}} </div>
            </span>
            <span class="list-group-item">
              <i class="fa fa-calendar fa-fw"></i>
              Date:<div class="pull-right">{{selectedPath.date}} </div>
            </span>

            <!--<a ng-href="#{{selectedPath.metadata}}" class="list-group-item" >-->


            <!--<i class="fa fa-exclamation-triangle fa-fw"></i>-->
            <!--Error Status: <div class="pull-right">{{selectedPath.errorStatus}} </div>-->

            <!--</a>-->



                        <a ng-href="#{{selectedPath.metadata}}" class="list-group-item"
                           ng-class="{'list-group-item-danger': selectedPath.errorStatus, 'list-group-item-success': !selectedPath.errorStatus}"
                        >
              <i class="fa fa-info fa-fw"></i>
              Error Status:
              <div ng-if="selectedPath.errorStatus" class="pull-right"><span
                class="pull-right glyphicon glyphicon-remove"></span></div>
              <div ng-if="!selectedPath.errorStatus" class="pull-right"><span
                class="pull-right glyphicon glyphicon-ok"></span></div>
            </a>



          </div>
          <!-- /.list-group -->

        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
  </div>


  <div class="panel panel-default">

    <div class="panel-body">


      <div>


        <div class="" id="{{val.metadata}}" ng-repeat="(key, val) in tracerouteResults | orderBy: 'source'">

          <h3>{{val.source}}
            <small>{{val.sourceCity}}, {{val.sourceCountry}}</small>
            <i class="fa fa-arrow-right fa-fw"></i>
            <!--<i class="fa fa-chevron-right fa-fw"></i>-->
            {{val.destination}}
            <small>{{val.destinationCity}}, {{val.destinationCountry}}</small>
          </h3>


          <div class="panel" ng-class="{'panel-danger': val.anomaliesExist, 'panel-default': !val.anomaliesExist}">
            <div class="panel-heading">

              <h4> {{val.nodes[0].startTime[0]}}:{{val.nodes[0].startTime[1]}}:{{val.nodes[0].startTime[2]}}
                {{val.nodes[0].startTime[3]}}
                <small>{{val.nodes[0].startDate[0]}} {{val.nodes[0].startDate[1]}} {{val.nodes[0].startDate[2]}}</small>
                <i class="fa fa-minus fa-fw"></i>
                {{val.nodes[0].endTime[0]}}:{{val.nodes[0].endTime[1]}}:{{val.nodes[0].endTime[2]}}
                {{val.nodes[0].endTime[3]}}
                <small>
                  {{val.nodes[0].endDate[0]}} {{val.nodes[0].endDate[1]}} {{val.nodes[0].endDate[2]}}
                </small>
              </h4>

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">

                  <thead>
                  <tr>
                    <th>Hop</th>
                    <th>IP</th>
                     <th>Domain</th>
                    <th>RTT</th>
                    <th>Min RTT</th>
                    <th>Mean RTT</th>
                    <th>Std Deviation RTT</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="(key, val2) in val.nodes ">
                    <td>{{key+1}}</td>
                    <!--<td uib-popover="{{dnsName}}" popover-trigger="'mouseenter'" popover-append-to-body="true"-->
                        <!--popover-placement="top-left" ng-mouseover="getDNS(val2.ip)" role="button">{{val2.ip}}</td>                    -->


                    <td tooltip-placement="top-left" uib-tooltip="{{dnsName}}" ng-mouseover="getDNS(val2.ip)" tooltip-append-to-body="true" >{{val2.ip}}</td>
                    <!--<td>{{val2.ip}}</td>-->
                    <td>{{val2.dns}}</td>
                    <td ng-click="historyRTT_modalDialog(val.metadata,val2.ip);" role="button"><a
                      href="">{{val2.rtt}}</a></td>
                    <td>{{val2.rttMin}}</td>
                    <td>{{val2.rttAvg}}</td>
                    <td>{{val2.rttStd}}</td>

                    <td class="danger" ng-if="val2.status">
                      <span class="glyphicon glyphicon-remove"> </span></td>

                    <td class="" ng-if="!val2.status">
                      <span class="glyphicon glyphicon-ok">   </span>
                    </td>

                  </tr>
                  </tbody>

                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
          </div>


        </div>


      </div>


    </div>
    <!-- /.panel-body -->
  </div>


  <!--&lt;!&ndash;Empty Panel&ndash;&gt;-->
  <!--<div class="panel panel-default">-->
  <!--<div class="panel-heading">-->
  <!--<i class="fa fa-bar-chart-o fa-fw"></i> Empty Panel-->
  <!--</div>-->
  <!--&lt;!&ndash; /.panel-heading &ndash;&gt;-->
  <!--<div class="panel-body">-->
  <!--<div class="container">-->


  <!--</div>-->


  <!--</div>-->
  <!--&lt;!&ndash; /.panel-body &ndash;&gt;-->
  <!--</div>-->

</div>
  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
  <!-- inject:js -->
  <!-- js files will be automatically insert here -->
  <!-- endinject -->

  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->

    <script type="text/ng-template" id="myModalContent.html">
        <!--<div class="modal-header" >-->
        <!--<h3 class="modal-title" id="modal-title"></h3>-->
        <!--</div>-->
        <div class="modal-body" id="modal-body">


        <canvas id="lineChart_individualRTThistory" class="chart chart-bar" chart-data="individualRTT_data"
                chart-dataset-override="datasetOverride"
                chart-labels="individualRTT_labels" chart-options="individualRTT_option">
          </canvas>


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>

        </div>
    </script>

  <!--</span>-->

</span>
</span>


</body>

</html>
