<!doctype html>
<html ng-app="onewaydelay">

<head>
  <meta charset="utf-8">
  <title>Network - One Way Delay</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!--<script-->
  <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgSYT0qquQTzCZrnHL_Tkos7m1pSsA92A">-->
  <!--</script>-->
  <!--<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>-->
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->

</head>
<body>

<!--<span id="firstController" ng-controller="LatencyGraphCtrl">
<span id="secondController" ng-controller="LatencyInfoCtrl">
<span id="thirdController" ng-controller="LatencyGraphPanelCtrl">-->
  <span id="fourthController" ng-controller="DelayCtrl">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Network Visualization</a>
  </div>
  <!-- /.navbar-header -->

<ul class="nav navbar-brand navbar-top-links navbar-right" tooltip-placement="left" uib-tooltip="Page will auto refresh in interval of 30 minutes." tooltip-append-to-body="true">
<!--Updated at {{lastUpdated}}-->
            </ul>

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
          </div>
          <!-- /input-group -->
        </li>

        <!--<li>-->
        <!--<a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Traceroute</a>-->
        <!--</li>-->

        <!--<li>-->
        <!--<a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Traceroute Path</a>-->
        <!--</li>-->

        <!--<li>-->
        <!--<a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Latency</a>-->
        <!--</li>-->

      <li class="active">
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Visualisations<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
          <li>
            <a href="index.html">Traceroute</a>
          </li>
          <li>
            <a href="traceroute_path.html">Traceroute Path</a>
          </li>
                  <li>
            <a href="latency.html">Latency</a>
          </li>
          <li>
            <a href="onewaydelay.html">One Way Delay</a>
          </li>
          <li>
            <a href="bandwidth.html">Bandwidth Test</a>
          </li>
        </ul>
        <!-- /.nav-second-level -->
        </li>


      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
  <!-- End of Navigation -->
<div id="page-wrapper">
  <!--ACTUAL BODY STARTS HERE-->

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">One Way Delay            <small class="pull-right" tooltip-placement="top" uib-tooltip="Date of Results." tooltip-append-to-body="true">
        <!--<span ng-if="minDate!==undefined">{{minDate}} to </span>
        <span ng-if="maxDate!==undefined">{{maxDate}}</span>-->
      </small></h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>

  <div class="row">
    <div class="col-lg-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> One Way Delay Table
          <div class="pull-right">

          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div>
            <!--<div id="latency_graph_cytoscape"></div> -->

<div>

<table border = "1" ng-repeat="(fIndex,f) in currentMetakey">
  <tr >
    <th colspan = "3"><center>Metakey</center></th>
    <th colspan = "3"><center>{{f}}</center></th>

  </tr>
  <tr>
    <th colspan = "1"><center>Source</center></th>
    <th colspan = "2"><center>{{source[$index]}}</center></th>
    <th colspan = "1"><center>Destination</center></th>
    <th colspan = "2"><center>{{destination[$index]}}</center></th>
  </tr>
  <tr>
    <th> Standard-Deviation</th>
    <th> Median</th>
    <th> Maximum</th>
    <th> Mode</th>
    <th> Variance</th>
    <th> Mean</th>
  </tr>
  <tr ng-repeat="x in fullDataList[fIndex]">
    <td>{{ x['val']['standard-deviation'] }}</td>
    <td>{{ x['val']['median'] }}</td>
    <td>{{ x['val']['maximum'] }}</td>
    <td>{{ x['val']['mode'] }}</td>
    <td>{{ x['val']['variance'] }}</td>
    <td>{{ x['val']['mean'] }}</td>
  </tr>


</table>

</div>


          </div>

        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->

    <div class="col-lg-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <!--<i class="fa fa-gear fa-fw"></i> Graph Panel
        </div> -->
        <!-- /.panel-heading -->




   <!--<span class="list-group-item">-->
   <!--<i class="fa fa-th-list fasb-fw"></i>-->
   <!--RTT Results:-->
   <!--&lt;!&ndash;<div class="pull-right">VALUES GOES HERE</div>&ndash;&gt;-->
   <!--</span>-->


   <!--<div class="list-group">-->
   <!--<div class="list-group">-->
   <!--<span class="list-group-item">Minimum: <div class="pull-right">{{selectedPath.rttMin}}</div></span>-->
   <!--<span class="list-group-item">Mean: <div class="pull-right">{{selectedPath.rttMean}}</div></span>-->
   <!--<span class="list-group-item">Maximum: <div class="pull-right">{{selectedPath.rttMax}}</div></span>-->


   <!--</div>-->
   <!--</div>-->


   <!--<a ng-href="" class="list-group-item"-->
   <!--ng-class="{'list-group-item-danger': selectedPath.errorStatus, 'list-group-item-success': !selectedPath.errorStatus}"-->
   <!--ng-click="loadHistorialTraceroutePath(selectedPath.metadata);">-->
   <!--&lt;!&ndash;<i class="glyphicon fa-info" ng-class="{'glyphicon-ok': !selectedPath.errorStatus, 'glyphicon-remove': selectedPath.errorStatus}"></i>&ndash;&gt;-->
   <!--<i class="fa fa-info fa-fw"></i>-->
   <!--&lt;!&ndash;<i class="glyphicon" ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}"></i>&ndash;&gt;-->

   <!--Error Status:-->

   <!--<div ng-if="selectedPath.errorStatus" class="pull-right"><span-->
   <!--class="pull-right glyphicon glyphicon-remove"></span></div>-->
   <!--<div ng-if="!selectedPath.errorStatus" class="pull-right"><span-->
   <!--class="pull-right glyphicon glyphicon-ok"></span></div>-->

   <!--</a>-->

          </div>




        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->




    </div>
    <!-- /.col-lg-4 -->
  </div>


  <!--TR and random stats-->


      <!--<div class="" ng-if="!resultTypeAggregation" ng-repeat="(key, val) in individualLatencyResults">-->
      <!--<h3>{{val.date}}  <small>{{val.time}}</small></h3>-->

      <!--<div class="table-responsive">-->
      <!--<table class="table table-striped text-center">-->

      <!--<thead>-->
      <!--<tr>-->
      <!--<th>Mean</th>-->
      <!--<th>Std Deviation</th>-->
      <!--<th>Variance</th>-->
      <!--<th>Median</th>-->
      <!--<th>Maximum</th>-->
      <!--<th>Minimum</th>-->
      <!--<th>95th Percentile</th>-->
      <!--<th>75th Percentile</th>-->
      <!--<th>25th Percentile</th>-->
      <!--</tr>-->
      <!--</thead>-->

      <!--<tbody>-->
      <!--<tr>-->
      <!--<td>{{val.mean}}</td>-->
      <!--<td>{{val.stddev}}</td>-->
      <!--<td>{{val.variance}}</td>-->
      <!--<td>{{val.median}}</td>-->
      <!--<td>{{val.maximum}}</td>-->
      <!--<td>{{val.minimum}}</td>-->
      <!--<td>{{val.percentile95}}</td>-->
      <!--<td>{{val.percentile75}}</td>-->
      <!--<td>{{val.percentile25}}</td>-->
      <!--</tr>-->


      <!--</tbody>-->
      <!--</table>-->
      <!--</div>-->

      <!--</div>-->

      <!--NEW TABLE-->



      </uib-tab>


  </uib-tabset>





    </div>
    <!-- /.panel-body -->
  </div>


  <!--//In Progress-->
  <!--<div ng-show="showTraceroute" id="latency_graph_cytoscape_traceroute"></div>-->

</div>
  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
  <!-- inject:js -->
  <!-- js files will be automatically insert here -->
  <!-- endinject -->

  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->

<script>

  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

</script>


</span>
  </span>
  </span>

</body>

</html>
